<app-header></app-header>

<ion-content>
    <ion-content [fullscreen]="true">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
            </ion-refresher-content>
        </ion-refresher>
        <ion-title class="ion-text-center">
            <h1>Tutores Legales</h1>
        </ion-title>
        <ion-list *ngIf="tutors">
            <ion-item *ngFor="let tutor of tutors">
                <h3>{{tutor.name}} {{tutor.last_name}}</h3>
                <ion-select (click)="getTutor(tutor.id)" (ionChange)="go($event)" interface="action-sheet" cancelText="Cancelar">
                    <ion-select-option value="datos">Consultar datos</ion-select-option>
                    <ion-select-option value="eliminar">Eliminar tutor legal</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <!-- <ng-template #elseBlock>
            <p>No hay registrados alumnos en estos momentos</p>
        </ng-template> -->
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button>
                <ion-icon name="add" (click)="createTutor()"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-content>
</ion-content>