<app-header></app-header>

<ion-content class="ion-padding">
    <ion-toolbar class="ion-text-center">
        <ion-title size="large">
            <h1>Seguimiento de Tests</h1>
        </ion-title>
        <ion-label>
            <h2>Editando Registro</h2>
        </ion-label>
    </ion-toolbar>
    <br>
    <br>
    <ion-item>
        <ion-label>Alumno</ion-label>
        <ion-select (ionChange)="setPupilId($event)" placeholder="" okText="Listo" cancelText="Cancelar">
            <ion-select-option class="auto" *ngFor="let pupil of pupils" (ionChange)="setPupilId($event)" [value]="pupil.id">
                {{pupil.name + " " + pupil.last_name}}
            </ion-select-option>
        </ion-select>
        <ion-input class="align-text-end" type="text">{{pupil.name}} {{pupil.last_name}}</ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Resultado lateralidad cruzada: </ion-label>
        <ion-segment (ionChange)="setResult($event)" value="tracing.lat_cruzada">
            <ion-segment-button value="true">
                <ion-label>Positivo</ion-label>
            </ion-segment-button>
            <ion-segment-button value="false">
                <ion-label>Negativo</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-item>
    <ion-item>
        <ion-label>Comentario: </ion-label>
        <ion-textarea type="text" [(ngModel)]="tracing.comment" name="comment"></ion-textarea>
    </ion-item>
    <br>
    <br>
    <ion-button color="success" (click)="setUpdateTracing()" expand="block">Guardar</ion-button>
</ion-content>