<app-header></app-header>

<ion-content>
    <ion-toolbar>
        <br>
        <ion-title size="large" class="ion-text-center">
            <h1>{{pupil.name}} {{pupil.last_name}}</h1>
        </ion-title>
    </ion-toolbar>
    <br>

    <ion-card class="margin">
        <ion-card-header>
            <ion-card-title><i>Seguimiento de ejercicios realizados</i></ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-accordion-group *ngFor="let tracing of tracings_acts">
                <ion-accordion>
                    <ion-item slot="header">
                        <ion-label>{{getName(tracing.activity_id)}}</ion-label>
                    </ion-item>

                    <ion-list slot="content">
                        <ion-item>
                            <ion-label>Fecha: </ion-label>
                            <ion-label>{{tracing.created_at | date: "dd-MM-YYYY" }}</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>Categoría: </ion-label>
                            <ion-label>{{getCategory(tracing.activity_id)}}</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>Comentario: </ion-label>
                            <ion-input readonly class="ion-text-wrap" placeholder="                --- ">{{tracing.comment}}</ion-input>
                        </ion-item>
                    </ion-list>
                </ion-accordion>
            </ion-accordion-group>

        </ion-card-content>
    </ion-card>
    <br>
    <ion-card class="margin">
        <ion-card-header>
            <ion-card-title><i>Seguimiento de tests realizados</i></ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-accordion-group *ngFor="let tracing of tracings_tests">
                <ion-accordion>
                    <ion-item slot="header">
                        <ion-label>{{tracing.created_at | date: "dd-MM-YYYY" }}</ion-label>
                    </ion-item>

                    <ion-list slot="content">
                        <ion-item>
                            <ion-label>Resultado: </ion-label>
                            <ion-label>{{printResult(tracing.lat_cruzada)}}</ion-label>
                        </ion-item>
                        <ion-item *ngIf="isCounselor()">
                            <ion-label>Anotación: </ion-label>
                            <ion-input readonly class="ion-text-wrap" placeholder="                  --- ">{{tracing.comment}}</ion-input>
                        </ion-item>
                    </ion-list>
                </ion-accordion>
            </ion-accordion-group>
        </ion-card-content>
    </ion-card>

    <br>
</ion-content>