<app-header></app-header>

<ion-content>
    <ion-toolbar>
        <br>
        <ion-title size="large" class="ion-text-center">{{pupil.name}} {{pupil.last_name}}</ion-title>
    </ion-toolbar>
    <br>
    <!-- ordenar por fechas las filas -->


    <ion-grid id="activities">
        <ion-row>
            <ion-col col-12 class="ion-align-self-start" class="ion-justify-content-center">
                <ion-label><i>Seguimiento de ejercicios realizados</i></ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-3>
                <div>
                    <ion-label><strong>Fecha</strong></ion-label>
                </div>
            </ion-col>
            <ion-col col-3>
                <div>
                    <ion-label><strong>Nombre</strong></ion-label>
                </div>
            </ion-col>
            <ion-col col-3>
                <div>
                    <ion-label><strong>Categoría</strong></ion-label>
                </div>
            </ion-col>
            <ion-col col-3>
                <div>
                    <ion-label><strong>Comentarios</strong></ion-label>
                </div>
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let tracing of tracings_acts">
            <!-- div con ngFOr ?? en vez por 2 en cols -->
            <ion-col col-3>
                <ion-label>{{tracing.created_at | date: "dd-MM-YYYY" }}</ion-label>
            </ion-col>
            <ion-col *ngFor="let act of activities" col-3>
                <ion-label *ngIf="act.id == tracing.activity_id">{{act.name}}</ion-label>
            </ion-col>
            <ion-col *ngFor="let act of activities" col-3>
                <ion-label *ngIf="act.id == tracing.activity_id">{{act.file_type}}</ion-label>
            </ion-col>
            <ion-col col-3>
                <ion-label default=" --- ">{{tracing.comment}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
    <br>
    <br>
    <ion-grid id="tests">
        <ion-row>
            <ion-col offset="3" class="ion-align-self-start">
                <ion-label><i>Seguimiento de test realizados</i></ion-label>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-start">
            <ion-col size="3">
                <div>
                    <ion-label><strong>Fecha</strong></ion-label>
                </div>
            </ion-col>
            <ion-col size="3">
                <div>
                    <ion-label><strong>Resultado</strong></ion-label>
                </div>
            </ion-col>
            <ion-col *ngIf="isCounselor()" size="3">
                <div>
                    <ion-label><strong>Comentarios</strong></ion-label>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-start" class="ion-justify-content-center" *ngFor="let tracing of tracings_tests">
            <ion-col size="3">
                <ion-datetime displayFormat="MM/DD/YYYY">{{tracing.created_at}}</ion-datetime>
            </ion-col>
            <ion-col size="3">
                <ion-label>{{tracing.lat_cruzada}}</ion-label>
            </ion-col>
            <ion-col *ngIf="isCounselor()" size="3">
                <ion-label default=" --- ">{{tracing.comment}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
    <br>
</ion-content>