<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Inicie sesión</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    <br>
    <ion-button (click)="submitLogin()" expand="block" color="primary">Entrar</ion-button>
</ion-content>