<app-header></app-header>
<ion-content>
    <ion-text color="secondary" class="centrar">
        <h1>Bienvenido a CL Tracing</h1>
    </ion-text>
    <ion-img src="../../../assets/images/lateralidad_cruzada2.png"></ion-img>

    <!-- <ion-item slot="bottom">
        <i>Averigüe más sobre la lateralidad cruzada en <a target="_blank" rel="noopener noreferrer" href="https://lateralidad.com/cuando-hablamos-de-lateralidad-cruzada-tipos-y-tratamiento/">lateralidad.com</a></i>
    </ion-item> -->
    <ion-footer>
        <i class="separado">Averigüe más sobre la lateralidad cruzada en <a target="_blank" rel="noopener noreferrer" href="https://lateralidad.com/cuando-hablamos-de-lateralidad-cruzada-tipos-y-tratamiento/">lateralidad.com</a></i>
    </ion-footer>
</ion-content>