<app-header></app-header>

<ion-content class="ion-padding">
    <ion-toolbar class="ion-text-center">
        <ion-title size="large">
            <h1>Seguimiento de Tests</h1>
        </ion-title>
        <ion-label>
            <h2>Nuevo Registro</h2>
        </ion-label>
    </ion-toolbar>
    <br>
    <br>
    <ion-item>
        <ion-label>Alumno: </ion-label>
        <ion-input slot="end" type="text" readonly>{{pupil.name}} {{pupil.last_name}}</ion-input>
    </ion-item>
    <ion-item>
        <ion-label class="text-wrap">Resultado lateralidad cruzada: </ion-label>
        <ion-segment class="size align-item-center" slot="end" (ionChange)="setResult($event)" value="true">
            <ion-segment-button value="true">
                <ion-label class="text-wrap text-capitalize">Sí</ion-label>
            </ion-segment-button>
            <ion-segment-button value="false">
                <ion-label class="text-wrap text-capitalize">No </ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-item>
    <ion-item>
        <ion-label>Comentario:(Opcional)</ion-label>
        <ion-textarea type="text" [(ngModel)]="newTracing.comment" name="lastname"></ion-textarea>
    </ion-item>
    <br>
    <br>
    <ion-button color="success" (click)="setNewTracing()" expand="block">Guardar</ion-button>
</ion-content>