<app-header></app-header>

<ion-content>
    <ion-toolbar>
        <br>
        <br>
        <ion-title size="large" class="ion-text-center">Datos del alumno</ion-title>
    </ion-toolbar>
    <br>
    <ion-list lines="none" class="p-4">
        <ion-item>
            <ion-label>Nombre: </ion-label>
            <ion-label>{{pupil.name}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Apellidos: </ion-label>
            <ion-label>{{pupil.last_name}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Dni: </ion-label>
            <ion-label>{{pupil.dni}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Curso: </ion-label>
            <ion-label>{{pupil.course}}</ion-label>
        </ion-item>
    </ion-list>
    <br>
    <br>

    <ion-card *ngIf="boolTutor">
        <ion-card-header>
            <ion-card-subtitle>
                <ion-label *ngIf="oneTutor">Datos del tutor legal</ion-label>
                <ion-label *ngIf="manyTutors">Datos de los tutores legales</ion-label>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list auto-hide="false" *ngFor="let tutor of tutors; let i = index">
                <ion-item routerDirection="root" [routerLink]="[tutor.url]" lines="none" detail="false">
                    <ion-nav-link></ion-nav-link>
                    <ion-label class="p-1">{{ tutor.name}} {{tutor.lastname}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <br>
    <br>
    <br>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button>
            <ion-icon name="pencil" (click)="modifyPupil()"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>