<app-header></app-header>

<ion-content class="ion-padding">
    <ion-toolbar class="ion-text-center">
        <ion-title size="large">
            <h1>Seguimiento de Ejercicios</h1>
        </ion-title>
        <ion-label>
            <h2>Nuevo Registro</h2>
        </ion-label>
    </ion-toolbar>
    <br>
    <br>
    <ion-item>
        <ion-label>Alumno: </ion-label>
        <ion-input slot="end" class="align-text-end" type="text" readonly>{{pupil.name}} {{pupil.last_name}}</ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Ejercicio</ion-label>
        <ion-select (ionChange)="setActivityId($event)" placeholder="Selecciona ejercicio" okText="Listo" cancelText="Cancelar">
            <ion-select-option class="auto" *ngFor="let act of activities" (ionChange)="setActivityId($event)" [value]="act.id">
                {{act.name}}
            </ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Comentario:(Opcional)</ion-label>
        <ion-textarea type="text" [(ngModel)]="newTracing.comment" name="lastname"></ion-textarea>
    </ion-item>
    <br>
    <br>
    <ion-button color="success" (click)="setNewTracing()" expand="block">Guardar</ion-button>
</ion-content>